body {
    margin: 0;
    height: 100vh;
    cursor:crosshair;
}

#container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows:
    1fr 3fr 1fr;
    user-select: none;
}

#headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headerText {
    font-size: 48px;
}

form {
    display: grid;
    grid-template-areas:
    "horizonal vertical"
    "horizontalInput verticalInput"
    "confirm confirm"
    ;
    gap: 6px;
    justify-items: center;
    margin-bottom: 16px;
}

#confirm {
    grid-column-end: span 2;
}

#buttonContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 50px;
    background-color: black;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
}

#squareGridContainer {
    display: flex;
    justify-content: center;
}

#squareGrid {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: grid;
    box-shadow: 0px 10px 13px -7px #000000, 0px 11px 50px 7px rgba(0,0,0,0.12);
}